h1 {
    font-size: 36px;
    color: blue;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h2 {
    font-size: 24px;
    color: blueviolet;
    text-align: center;
}

div.container {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
}